.cabal-sandbox/
cabal.sandbox.config
autom4te.cache/
config.log
config.status
configure
dist/
HsDirectoryConfig.h
HsDirectoryConfig.h.in
*~
dist-newstyle/

# In GHC build tree:
GNUmakefile
dist-install
ghc.mk
